{% extends main_layout %}

{% block body %}
    {% if error %}
        <div class="rudakuser_error">{{ error.message|trans({},'messages') }}</div>
    {% endif %}
    {% include "RudakUserBundle:Include:user-area.html.twig" %}
{% endblock %}
{#
TODO: implement remember me option
#}