{% extends main_layout %}

{% block title %}Changer mon adresse email | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
