{% extends main_layout %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Facebook Landing</h2>
            <h3>hey ! {{ user.email }} !</h3>
        </div>
    </div>
{% endblock %}