{% extends main_layout %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Facebook Login</h2>
            <p>
                Ok, T'es loggé {{ username }}.
            </p>

        </div>
    </div>
{% endblock %}