{% extends main_layout %}

{% block body %}
    <h1>
        Félicitations {{ user.username }} !
    </h1>

    <p>
        Un email vient de vous etre envoyé à l'adresse {{ user.email }}, veuillez cliquer sur le lien de validation pour
        confirmer votre adresse mail et valider l'inscription.
        <br/>
        Merci beaucoup.
    </p>
{% endblock %}