{% extends admin_layout %}

{% block content -%}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_homepage') }}">
                        Administration
                    </a>
                </li>
                <li class="active"><a href="{{ path('admin_user') }}">
                        Utilisateurs
                    </a>
                </li>
                <li class="active">
                    Creer utilisateur
                </li>
            </ol>

            {{ form(form) }}
            <hr/>
            <p>

            </p>
        </div>
    </div>

{% endblock %}
