{% extends 'RudakUserBundle:Email:basic.html.twig' %}

{% block emailContent %}
    <p class="lead">
        Ceci est un message automatique envoyé suite à une requete sur le site
        <strong>monsite.fr</strong>. Si vous n'êtes pas à l'origine de cette demande,
        veuillez ignorer cet email, merci.
    </p>
    <div class="callout">
        <p>
            Voici votre nouveau mot de passe, merci de le changer rapidement après vous etre connecté
            sur le site :
        </p>

        <p><span><strong>{{ user.plainPassword }}</strong></span></p>

        <p>
            <a href="{{ link }}">
                Se connecter et changer le mot de passe
            </a>
        </p>
    </div>
    <h4>Important</h4>
    <p>
        Il existe un délai au dela duquel ce lien de réinitialisation ne sera plus valable.
        Ce lien est valable jusqu'a :
        <br/>
        <strong>{{ user.SecurityHashExpireAt|date('H:i:s \\l\\e d/m/Y') }}</strong>
    </p>

{% endblock %}


