<p class="lead">
    Ceci est un message automatique envoyé suite à une requete sur le site
    <strong>{{ website }}</strong>. Si vous n'êtes pas à l'origine de cette demande,
    veuillez ignorer cet email, merci.
</p>