<h1>Bonjour {{ user.username }}</h1>
<p>
    Nous avons bien pris en compte votre changement de mot de passe à {{ date|date('H:i:s \\l\\e d/m/Y') }}, merci.
</p>
<p>
    (Cette action a été effectuée depuis l'IP {{ app.request.server.get("SERVER_ADDR") }} )
</p>