{% extends 'RudakUserBundle:Email:basic.html.twig' %}

{% block emailContent %}
    <h2>Changement d'adresse e-mail réussi.</h2>
    <p class="callout">
        Merci {{ user.username }}. Nous avons bien pris en compte votre changement d'adresse et
        l'ancienne ({{ user.email }}) a été supprimée des bases de données de {{ website }}.
    </p>
    <br/>
{% endblock %}