{% extends 'RudakUserBundle:Email:basic.html.twig' %}

{% block emailContent %}
    <p class="lead">
        Votre adresse email était jusqu'ici <strong>{{ user.email }}</strong>
        et vous la remplacez par <strong>{{ user.emailTmp }}</strong>.
    </p>
    <p class="callout">
        Pour valider cette adresse, vous devez cliquer sur le lien ci dessous. Attention vous avez
        jusqu'au {{ user.securityHashExpireAt|date('d/m/Y \\à H:i:s') }} pour effectuer cette action.
        <br/>
        <a href="{{ link }}">
            Lien de validation de l'adresse email
        </a>
    </p>
{% endblock %}