<h1>Bonjour {{ user.username }}</h1>
<p>
    Vous recevez ce mail car vous avez tenté de changer votre mot de passe
    à {{ date|date('H:i:s \\l\\e d/m/Y') }} mais cette tentative a échoué.
</p>
<p>
    (Cette action a été effectuée depuis l'IP {{ app.request.server.get("SERVER_ADDR") }} )
</p>