{% extends 'RudakUserBundle:Email:basic.html.twig' %}

{% block emailContent %}
    <h2>Réinitialisation de mot de passe</h2>
    <p class="callout">
        Merci {{ user.username }}, nous avons bien pris en compte votre changement de mot de passe.
    </p>
{% endblock %}