{% extends 'RudakUserBundle:Email:basic.html.twig' %}

{% block emailContent %}
    <p class="callout">
        Nous avons bien pris en compte votre changement de mot de passe, merci.
    </p>
{% endblock %}