{% extends 'RudakUserBundle:Email:basic.html.twig' %}

{% block emailContent %}
    <h2>Récupération du mot de passe</h2>
    <p class="callout">
        Pour acceder a la page de réinitialisation du mot de passe veuillez suivre ce lien :
        <br/>
        <a href="{{ link }}">
            Lien de réinitialisation du mot de passe
        </a>
    </p>
    <h4>Important</h4>
    <p>
        Il existe un délai au dela duquel ce lien de réinitialisation ne sera plus valable.
        Ce lien est valable jusqu'a {{ user.SecurityHashExpireAt|date('H:i') }}.
    </p>
    <br/>

{% endblock %}


