<h1>Bonjour {{ user.username }}</h1>
<p>
    Vous recevez cet email car vous avez souhaité récupérer votre mot de passe sur le site
    <strong>monsite.fr</strong>. Si vous n'etes pas a l'origine de cette réclamation merci d'ignorer
    cet email.
</p>
<h3>Récupération de mot de passe</h3>
<p>

    Pour acceder a la page de réinitialisation du mot de passe veuillez suivre ce lien :
    <br/>
    <a href="{{ link }}">
        lien de réinitialisation du mot de passe
    </a>
</p>
<h4>Important</h4>
<p>
    Il existe un délai au dela duquel ce lien de réinitialisation ne sera plus valable.
    Ce lien est valable jusqu'a :
    <br/>
    <strong>{{ user.SecurityHashExpireAt|date('H:i:s \\l\\e d/m/Y') }}</strong>
</p>




