{% extends 'RudakUserBundle:Email:basic.html.twig' %}

{% block emailContent %}
    <p class="lead">
        Ceci est un message automatique envoyé suite à une requete sur le site
        <strong>monsite.fr</strong>. Si vous n'êtes pas à l'origine de cette demande,
        veuillez ignorer cet email, merci.
    </p>
    <p class="callout">
        Pour acceder a la page de réinitialisation du mot de passe veuillez suivre ce lien :
        <br/>
        <a href="{{ link }}">
            Lien de réinitialisation du mot de passe
        </a>
    </p>
    <h4>Important</h4>
    <p>
        Il existe un délai au dela duquel ce lien de réinitialisation ne sera plus valable.
        Ce lien est valable jusqu'a :
        <br/>
        <strong>{{ user.SecurityHashExpireAt|date('H:i:s \\l\\e d/m/Y') }}</strong>
    </p>

{% endblock %}


