<h1>Bienvenue {{ user.username }}</h1>
<p>
    Pour valider votre compte vous devez cliquer sur ce lien :
    <br/>
    <a href="{{ site }}">Lien de validation</a>
    <br/>
    Merci, a très bientot !
</p>