{% extends 'RudakUserBundle:Email:basic.html.twig' %}

{% block emailContent %}
    <p class="lead">
        Vous recevez ce mail suite à une demande de validation de votre adresse mail sur {{ website }}.
    </p>
    <p class="callout">
        En suivant ce lien, vous validerez votre adresse mail :
        <br/>
        <a href="{{ link }}" title="valider adresse mail">
            Lien de validation
        </a>
    </p>
    <p>
        Pour rappel, votre nom d'utilisateur est : <strong>{{ user.username }}</strong>
    </p>

    <p>
        Merci d'utiliser notre site !
    </p>
{% endblock %}